<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="2370add8-b1e2-4280-8fe5-04ae860958b7" Name="PaperCutSFASBilling" Language="1033" Version="0.1.1.0" Manufacturer="Patrick McMorran" UpgradeCode="fbea0829-b0b9-4389-9028-a45dd287a9f9">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Comments="Created by Patrick McMorran. This is 'Unlicensed' Software, http://unlicense.org/" />
    <UIRef Id="WixUI_Minimal" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>
    
		<Feature Id="PaperCutSFASService" Title="PapercutSFASBilling" Level="1">
      <ComponentRef Id="CMP_ConfigTXT" />
      <ComponentRef Id="CMP_CookComputingXmlRpcV2DLL" />
      <ComponentRef Id="CMP_PapercutSFASBillingEXE" />
      <ComponentRef Id="CMP_PapercutSFASBillingexeCONFIG" />
      <ComponentRef Id="CMP_ReadMeTXT" />
      <ComponentRef Id="CMP_WinSCPDLL" />
      <ComponentRef Id="CMP_BillingDirectoryTXT" />
		</Feature>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="PapercutSFASBilling">
        
        <Component Id="CMP_ConfigTXT"
                 Guid="1c3b415a-daee-4932-b249-b1a60d8d2247">

          <File Id="FILE_MyProgramDir_ConfigTXT"
                Source="$(var.FilesPath)Config.txt"
                KeyPath="yes" />
        </Component>

        <Component Id="CMP_CookComputingXmlRpcV2DLL"
                 Guid="25043ce9-be6f-4d3d-8da9-bafa86f75ac6">

          <File Id="FILE_MyProgramDir_CookComputingXmlRpcV2DLL"
                Source="$(var.FilesPath)CookComputing.XmlRpcV2.dll"
                KeyPath="yes" />
        </Component>

        <Component Id="CMP_PapercutSFASBillingEXE"
                 Guid="fa555ab7-8351-491b-a892-2138dab35188">

          <File Id="FILE_MyProgramDir_PapercutSFASBillingEXE"
                Source="$(var.FilesPath)PapercutSFASBilling.exe"
                KeyPath="yes" />
          <ServiceInstall
         Id="InstallWindowsService1"
         Name="testsvc"
         DisplayName="Test Service"
         Start="auto"
         ErrorControl="normal"
         Type="ownProcess" />
          
          <ServiceInstall
             Id="ServiceInstaller"
             Type="ownProcess"
             Name="PapercutSFASBilling"
             DisplayName="SFAS Billing Papercut Interface"
             Description="This is an application that interfaces Papercut with the Yale SFAS Vatch Billing Service."
             Start="auto"
             Account="LocalSystem"
             ErrorControl="normal"
             />
          <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="PapercutSFASBilling" Wait="yes" />
          </Component>

        <Component Id="CMP_PapercutSFASBillingexeCONFIG"
                 Guid="0c4a2b22-1890-4e61-86b0-5752fcc6aba5">

          <File Id="FILE_MyProgramDir_PapercutSFASBillingexeCONFIG"
                Source="$(var.FilesPath)PapercutSFASBilling.exe.config"
                KeyPath="yes" />
        </Component>

        <Component Id="CMP_ReadMeTXT"
                 Guid="b9212383-5a6e-465b-a47f-8e0dbbf155bb">

          <File Id="FILE_MyProgramDir_ReadMeTXT"
                Source="$(var.FilesPath)ReadMe.txt"
                KeyPath="yes" />
        </Component>

          <Component Id="CMP_WinSCPDLL"
                Guid="e294a7cf-7b39-4096-a623-1fb6499307a4">

          <File Id="FILE_MyProgramDir_WinSCPDLL"
                Source="$(var.FilesPath)WinSCP.dll"
                KeyPath="yes" />
        </Component>
          <Component Id="CMP_BillingDirectoryTXT"
                Guid="e294a7cf-7b39-4096-a623-1fb6499307a5">

            <File Id="FILE_MyProgramDir_BillingDirectoryTXT"
                  Source="$(var.FilesPath)BillingDirectory.txt"
                  KeyPath="yes" />
          </Component>

      </Directory>
			</Directory>
		</Directory>

  </Product>
</Wix>